USE [master]
GO
/****** Object:  Database [KnowHowTraining]    Script Date: 03-Jan-26 00:50:01 ******/
CREATE DATABASE [KnowHowTraining]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KnowHowTraining', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KnowHowTraining.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KnowHowTraining_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KnowHowTraining_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KnowHowTraining].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KnowHowTraining]
GO
/****** Object:  Table [dbo].[CompanyReferences]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyReferences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogoUrl] [nvarchar](500) NOT NULL,
	[WebsiteUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyReferenceTranslations]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyReferenceTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactSubmissions]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactSubmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](200) NULL,
	[CompanySize] [nvarchar](50) NULL,
	[ProgramInterest] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[Language] [nvarchar](5) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DownloadItems]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DownloadItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[FileSizeKb] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DownloadItemTranslations]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DownloadItemTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DownloadId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryItems]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryItemTranslations]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryItemTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GalleryItemId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[Caption] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[Direction] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageContents]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageContents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[SeoTitle] [nvarchar](200) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](500) NULL,
	[HeroTitle] [nvarchar](200) NULL,
	[HeroSubtitle] [nvarchar](500) NULL,
	[HeroCtaText] [nvarchar](100) NULL,
	[HeroCtaUrl] [nvarchar](500) NULL,
	[ContentSections] [nvarchar](max) NOT NULL,
	[OpenGraphTitle] [nvarchar](200) NULL,
	[OpenGraphDescription] [nvarchar](500) NULL,
	[OpenGraphImage] [nvarchar](500) NULL,
	[IsPublished] [bit] NOT NULL,
	[PublishedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[HeroImage] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagePrograms]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagePrograms](
	[PageId] [int] NOT NULL,
	[ProgramId] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PageId] ASC,
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[IsMenuItem] [bit] NOT NULL,
	[MenuSortOrder] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramCategories]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramCategoryTranslations]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramCategoryTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[Slug] [nvarchar](150) NOT NULL,
	[DurationHours] [decimal](4, 1) NULL,
	[MaxParticipants] [int] NULL,
	[PriceRangeMin] [decimal](10, 2) NULL,
	[PriceRangeMax] [decimal](10, 2) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[PdfOutlineUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramTrainers]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramTrainers](
	[ProgramId] [int] NOT NULL,
	[TrainerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC,
	[TrainerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramTranslations]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[FullDescription] [nvarchar](max) NULL,
	[TargetAudience] [nvarchar](max) NULL,
	[LearningOutcomes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testimonials]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testimonials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorImageUrl] [nvarchar](500) NULL,
	[AuthorPosition] [nvarchar](200) NULL,
	[CompanyLogoUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestimonialTranslations]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestimonialTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestimonialId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[Quote] [nvarchar](max) NOT NULL,
	[AuthorName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[LinkedinUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerTranslations]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerTranslations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainerId] [int] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Bio] [nvarchar](max) NULL,
	[ExperienceYears] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Code], [Name], [IsActive], [IsDefault], [Direction]) VALUES (1, N'en', N'English', 1, 1, N'ltr')
INSERT [dbo].[Languages] ([Id], [Code], [Name], [IsActive], [IsDefault], [Direction]) VALUES (2, N'mk', N'Macedonian', 1, 0, N'ltr')
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[PageContents] ON 

SET IDENTITY_INSERT [dbo].[PageContents] OFF
GO
INSERT [dbo].[PagePrograms] ([PageId], [ProgramId], [SortOrder]) VALUES (1, 1, 1)
INSERT [dbo].[PagePrograms] ([PageId], [ProgramId], [SortOrder]) VALUES (1, 2, 2)
INSERT [dbo].[PagePrograms] ([PageId], [ProgramId], [SortOrder]) VALUES (2, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([Id], [Slug], [SortOrder], [IsPublished], [IsMenuItem], [MenuSortOrder], [CreatedAt], [UpdatedAt]) VALUES (1, N'home', 0, 1, 0, NULL, CAST(N'2025-12-28T19:11:06.8033333' AS DateTime2), CAST(N'2026-01-02T16:07:41.5400000' AS DateTime2))
INSERT [dbo].[Pages] ([Id], [Slug], [SortOrder], [IsPublished], [IsMenuItem], [MenuSortOrder], [CreatedAt], [UpdatedAt]) VALUES (2, N'about', 20, 1, 1, 2, CAST(N'2025-12-28T19:11:06.8033333' AS DateTime2), CAST(N'2025-12-28T19:11:06.8033333' AS DateTime2))
INSERT [dbo].[Pages] ([Id], [Slug], [SortOrder], [IsPublished], [IsMenuItem], [MenuSortOrder], [CreatedAt], [UpdatedAt]) VALUES (3, N'programs', 30, 1, 1, 3, CAST(N'2025-12-28T19:11:06.8033333' AS DateTime2), CAST(N'2025-12-28T19:11:06.8033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[Programs] ON 

INSERT [dbo].[Programs] ([Id], [CategoryId], [Slug], [DurationHours], [MaxParticipants], [PriceRangeMin], [PriceRangeMax], [ImageUrl], [PdfOutlineUrl], [SortOrder], [IsPublished]) VALUES (1, NULL, N'leadership-essentials', CAST(16.0 AS Decimal(4, 1)), 12, NULL, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Programs] ([Id], [CategoryId], [Slug], [DurationHours], [MaxParticipants], [PriceRangeMin], [PriceRangeMax], [ImageUrl], [PdfOutlineUrl], [SortOrder], [IsPublished]) VALUES (2, NULL, N'executive-coaching', CAST(24.0 AS Decimal(4, 1)), 1, NULL, NULL, NULL, NULL, 2, 1)
INSERT [dbo].[Programs] ([Id], [CategoryId], [Slug], [DurationHours], [MaxParticipants], [PriceRangeMin], [PriceRangeMax], [ImageUrl], [PdfOutlineUrl], [SortOrder], [IsPublished]) VALUES (3, NULL, N'leadership-essentials', CAST(16.0 AS Decimal(4, 1)), 12, NULL, NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Programs] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgramTranslations] ON 

INSERT [dbo].[ProgramTranslations] ([Id], [ProgramId], [LanguageId], [Title], [ShortDescription], [FullDescription], [TargetAudience], [LearningOutcomes]) VALUES (1, 1, 1, N'Leadership Essentials', N'Foundational skills for new and aspiring leaders', NULL, NULL, NULL)
INSERT [dbo].[ProgramTranslations] ([Id], [ProgramId], [LanguageId], [Title], [ShortDescription], [FullDescription], [TargetAudience], [LearningOutcomes]) VALUES (2, 2, 1, N'Executive Coaching', N'1:1 personalized development for C-level executives', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProgramTranslations] OFF
GO
/****** Object:  Index [UQ__CompanyR__860499F7AC1D59EE]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[CompanyReferenceTranslations] ADD UNIQUE NONCLUSTERED 
(
	[CompanyId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactSubmissions_IsRead]    Script Date: 03-Jan-26 00:50:01 ******/
CREATE NONCLUSTERED INDEX [IX_ContactSubmissions_IsRead] ON [dbo].[ContactSubmissions]
(
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactSubmissions_SubmittedAt]    Script Date: 03-Jan-26 00:50:01 ******/
CREATE NONCLUSTERED INDEX [IX_ContactSubmissions_SubmittedAt] ON [dbo].[ContactSubmissions]
(
	[SubmittedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Download__D84623ABA45D71CF]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[DownloadItemTranslations] ADD UNIQUE NONCLUSTERED 
(
	[DownloadId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GalleryI__433D95819EE3EC09]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[GalleryItemTranslations] ADD UNIQUE NONCLUSTERED 
(
	[GalleryItemId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Language__A25C5AA739B3B516]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[Languages] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PageCont__6EF6345FC2028AFA]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[PageContents] ADD UNIQUE NONCLUSTERED 
(
	[PageId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PageContents_IsPublished]    Script Date: 03-Jan-26 00:50:01 ******/
CREATE NONCLUSTERED INDEX [IX_PageContents_IsPublished] ON [dbo].[PageContents]
(
	[IsPublished] ASC
)
INCLUDE([PageId],[LanguageId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PageContents_PageId_LanguageId]    Script Date: 03-Jan-26 00:50:01 ******/
CREATE NONCLUSTERED INDEX [IX_PageContents_PageId_LanguageId] ON [dbo].[PageContents]
(
	[PageId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Pages__BC7B5FB6702545E5]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[Pages] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProgramC__B29ABF50DF4A2F58]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[ProgramCategoryTranslations] ADD UNIQUE NONCLUSTERED 
(
	[CategoryId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Programs_Slug_IsPublished]    Script Date: 03-Jan-26 00:50:01 ******/
CREATE NONCLUSTERED INDEX [IX_Programs_Slug_IsPublished] ON [dbo].[Programs]
(
	[Slug] ASC,
	[IsPublished] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProgramT__DEB6E503E71E459D]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[ProgramTranslations] ADD UNIQUE NONCLUSTERED 
(
	[ProgramId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Settings__C41E0289B744B12B]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[Settings] ADD UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Testimon__3A31BB287CCE49DC]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[TestimonialTranslations] ADD UNIQUE NONCLUSTERED 
(
	[TestimonialId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TrainerT__9DF99F273953559A]    Script Date: 03-Jan-26 00:50:01 ******/
ALTER TABLE [dbo].[TrainerTranslations] ADD UNIQUE NONCLUSTERED 
(
	[TrainerId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompanyReferences] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[CompanyReferences] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[ContactSubmissions] ADD  DEFAULT (getutcdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[ContactSubmissions] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[DownloadItems] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[DownloadItems] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[GalleryItems] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ('ltr') FOR [Direction]
GO
ALTER TABLE [dbo].[PageContents] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[PageContents] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PageContents] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PagePrograms] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((1)) FOR [IsMenuItem]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProgramCategories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Programs] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Programs] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Testimonials] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Testimonials] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Trainers] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Trainers] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[CompanyReferenceTranslations]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CompanyReferences] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyReferenceTranslations]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[DownloadItemTranslations]  WITH CHECK ADD FOREIGN KEY([DownloadId])
REFERENCES [dbo].[DownloadItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DownloadItemTranslations]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[GalleryItemTranslations]  WITH CHECK ADD FOREIGN KEY([GalleryItemId])
REFERENCES [dbo].[GalleryItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GalleryItemTranslations]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[PageContents]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[PageContents]  WITH CHECK ADD FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PagePrograms]  WITH CHECK ADD FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PagePrograms]  WITH CHECK ADD FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramCategoryTranslations]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProgramCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramCategoryTranslations]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[Programs]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProgramCategories] ([Id])
GO
ALTER TABLE [dbo].[ProgramTrainers]  WITH CHECK ADD FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramTrainers]  WITH CHECK ADD FOREIGN KEY([TrainerId])
REFERENCES [dbo].[Trainers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramTranslations]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[ProgramTranslations]  WITH CHECK ADD FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestimonialTranslations]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[TestimonialTranslations]  WITH CHECK ADD FOREIGN KEY([TestimonialId])
REFERENCES [dbo].[Testimonials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainerTranslations]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[TrainerTranslations]  WITH CHECK ADD FOREIGN KEY([TrainerId])
REFERENCES [dbo].[Trainers] ([Id])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[Admin_GetAllPages]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- ADMIN PAGE PROCEDURES
-- =============================================

-- 1. Get all pages for admin list
CREATE   PROCEDURE [dbo].[Admin_GetAllPages]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Slug, IsPublished, SortOrder
    FROM Pages 
    WHERE IsMenuItem = 1 OR Slug = 'home'  -- Show menu + home
    ORDER BY SortOrder, Slug;
END
GO
/****** Object:  StoredProcedure [dbo].[Admin_GetPageForEdit]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Get page for editing (page + all language contents)
CREATE   PROCEDURE [dbo].[Admin_GetPageForEdit]
    @PageId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Page metadata
    SELECT Id, Slug, IsPublished, IsMenuItem, MenuSortOrder, SortOrder
    FROM Pages 
    WHERE Id = @PageId;

    -- Language contents
    SELECT 
        pc.Id, pc.LanguageId, l.Code, l.Name,
        pc.SeoTitle, pc.SeoDescription,
        pc.HeroTitle, pc.HeroSubtitle, pc.HeroCtaText, pc.HeroCtaUrl,
        ISNULL(pc.ContentSections, '[]') as ContentSections,
        pc.IsPublished
    FROM PageContents pc
    INNER JOIN Languages l ON pc.LanguageId = l.Id
    WHERE pc.PageId = @PageId;
END
GO
/****** Object:  StoredProcedure [dbo].[Admin_SavePage]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_SavePage]
    @PageId INT,
    @Slug NVARCHAR(100),
    @IsPublished BIT,
    @IsMenuItem BIT,
    @MenuSortOrder INT = NULL,
    @SortOrder INT = 0,
    @LanguageContents NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @LanguageData TABLE (
        LanguageId TINYINT,
        SeoTitle NVARCHAR(200) NULL,
        SeoDescription NVARCHAR(500) NULL,
        HeroTitle NVARCHAR(200) NULL,
        HeroSubtitle NVARCHAR(500) NULL,
        HeroCtaText NVARCHAR(100) NULL,
        HeroCtaUrl NVARCHAR(500) NULL,
        ContentSections NVARCHAR(MAX),
        IsPublished BIT
    );

    -- Parse JSON language contents
    INSERT INTO @LanguageData
    SELECT 
        JSON_VALUE(value, '$.LanguageId'),
        JSON_VALUE(value, '$.SeoTitle'),
        JSON_VALUE(value, '$.SeoDescription'),
        JSON_VALUE(value, '$.HeroTitle'),
        JSON_VALUE(value, '$.HeroSubtitle'),
        JSON_VALUE(value, '$.HeroCtaText'),
        JSON_VALUE(value, '$.HeroCtaUrl'),
        ISNULL(JSON_VALUE(value, '$.ContentSections'), '[]'),
        JSON_VALUE(value, '$.IsPublished')
    FROM OPENJSON(@LanguageContents);

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Update page metadata
        UPDATE Pages
        SET Slug = @Slug,
            IsPublished = @IsPublished,
            IsMenuItem = @IsMenuItem,
            MenuSortOrder = @MenuSortOrder,
            SortOrder = @SortOrder,
            UpdatedAt = GETUTCDATE()
        WHERE Id = @PageId;

        -- Upsert language contents
        MERGE PageContents AS target
        USING @LanguageData AS source
        ON (target.PageId = @PageId AND target.LanguageId = source.LanguageId)
        WHEN MATCHED THEN
            UPDATE SET
                SeoTitle = source.SeoTitle,
                SeoDescription = source.SeoDescription,
                HeroTitle = source.HeroTitle,
                HeroSubtitle = source.HeroSubtitle,
                HeroCtaText = source.HeroCtaText,
                HeroCtaUrl = source.HeroCtaUrl,
                ContentSections = source.ContentSections,
                IsPublished = source.IsPublished,
                PublishedAt = CASE WHEN source.IsPublished = 1 THEN GETUTCDATE() ELSE target.PublishedAt END,
                UpdatedAt = GETUTCDATE()
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (PageId, LanguageId, SeoTitle, SeoDescription, HeroTitle, HeroSubtitle, 
                    HeroCtaText, HeroCtaUrl, ContentSections, IsPublished, PublishedAt, CreatedAt)
            VALUES (@PageId, source.LanguageId, source.SeoTitle, source.SeoDescription, 
                    source.HeroTitle, source.HeroSubtitle, source.HeroCtaText, source.HeroCtaUrl, 
                    source.ContentSections, source.IsPublished, 
                    CASE WHEN source.IsPublished = 1 THEN GETUTCDATE() ELSE NULL END, GETUTCDATE());

        COMMIT TRANSACTION;
        
		select 1 as result;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GetPageById]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPageById]
    @Id INT,
    @LanguageCode NVARCHAR(5)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @LanguageId TINYINT = (SELECT Id FROM Languages WHERE Code = @LanguageCode AND IsActive = 1);
    IF @LanguageId IS NULL
        SET @LanguageId = (SELECT Id FROM Languages WHERE IsDefault = 1);

    -- Result Set 1: Page data
    SELECT 
        p.Id as PageId,
        p.Slug,
        p.IsPublished,
        p.IsMenuItem,
        p.SortOrder,
        l.Id as LanguageId,  -- ✅ ADD THIS
        l.Code as LanguageCode,
        pc.SeoTitle,
        pc.SeoDescription,
        pc.HeroTitle,
        pc.HeroSubtitle,
        pc.HeroCtaText,
        pc.HeroCtaUrl,
        pc.ContentSections,
        pc.OpenGraphTitle,
        pc.OpenGraphDescription,
        pc.OpenGraphImage,
        pc.IsPublished as ContentIsPublished  -- ✅ ADD THIS
    FROM Pages p
    INNER JOIN PageContents pc ON p.Id = pc.PageId AND pc.LanguageId = @LanguageId
    INNER JOIN Languages l ON pc.LanguageId = l.Id
    WHERE p.Id = @Id;

    -- Result Set 2: Programs (same as before)
    SELECT TOP 6 
        pr.Id,
        pr.Slug,
        pr.ImageUrl,
        pr.DurationHours,
        pr.MaxParticipants,
        prt.Title,
        prt.ShortDescription,
        ctT.Name as CategoryName
    FROM PagePrograms pp
    INNER JOIN Programs pr ON pp.ProgramId = pr.Id AND pr.IsPublished = 1
    INNER JOIN ProgramTranslations prt ON pr.Id = prt.ProgramId AND prt.LanguageId = @LanguageId
    LEFT JOIN ProgramCategories ct ON pr.CategoryId = ct.Id
    LEFT JOIN ProgramCategoryTranslations ctT ON ct.Id = ctT.CategoryId AND ctT.LanguageId = @LanguageId
    WHERE pp.PageId = @Id
    ORDER BY pp.SortOrder;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPageBySlug]    Script Date: 03-Jan-26 00:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPageBySlug]
    @Slug NVARCHAR(100),
    @LanguageCode NVARCHAR(5)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @LanguageId TINYINT = (SELECT Id FROM Languages WHERE Code = @LanguageCode AND IsActive = 1);
    IF @LanguageId IS NULL
        SET @LanguageId = (SELECT Id FROM Languages WHERE IsDefault = 1);

    -- Result Set 1: Page data
    SELECT 
        p.Id as PageId,
        p.Slug,
        p.IsPublished,
        l.Code as LanguageCode,
        pc.SeoTitle,
        pc.SeoDescription,
        pc.HeroTitle,
        pc.HeroSubtitle,
        pc.HeroCtaText,
        pc.HeroCtaUrl,
        pc.HeroImage, -- ✅ NEW
        pc.ContentSections,
        pc.OpenGraphTitle,
        pc.OpenGraphDescription,
        pc.OpenGraphImage
    FROM Pages p
    INNER JOIN PageContents pc ON p.Id = pc.PageId AND pc.LanguageId = @LanguageId
    INNER JOIN Languages l ON pc.LanguageId = l.Id
    WHERE p.Slug = @Slug AND p.IsPublished = 1 AND pc.IsPublished = 1;

    -- Result Set 2: Programs (same as before)
    SELECT TOP 6 
        pr.Id,
        pr.Slug,
        pr.ImageUrl,
        pr.DurationHours,
        pr.MaxParticipants,
        prt.Title,
        prt.ShortDescription,
        ctT.Name as CategoryName
    FROM PagePrograms pp
    INNER JOIN Programs pr ON pp.ProgramId = pr.Id AND pr.IsPublished = 1
    INNER JOIN ProgramTranslations prt ON pr.Id = prt.ProgramId AND prt.LanguageId = @LanguageId
    LEFT JOIN ProgramCategories ct ON pr.CategoryId = ct.Id
    LEFT JOIN ProgramCategoryTranslations ctT ON ct.Id = ctT.CategoryId AND ctT.LanguageId = @LanguageId
    WHERE pp.PageId = (SELECT Id FROM Pages WHERE Slug = @Slug)
    ORDER BY pp.SortOrder;
END
GO
USE [master]
GO
